body {
  font-family: 'Oswald', cursive;
  font-size: 22px;
  background-color: #FCFEFF;
  margin: 0;
  padding: 0;
  display:grid;
  height: 100vh;
  grid-template-rows: 3fr 11fr;
}

h1, h2, h3 {
  font-family: 'Patua One', cursive;
  font-size: 250%;
  margin: auto;
}
h2 {
  font-size: 100%;
}
iframe {
  border: none;
  width: 300px; 
  max-width: 60vw;
  max-height: 100vh;
  height: 98%;
}
.message {
  font-size: 200%;
}
p {
  margin: 0;
}

#the-goodies{
  display:grid;
  grid-template-columns: auto 1fr;
}
#container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#graph{
  height: 15vh;
}

li {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  margin: 5px;
  border-radius: 5px;
  list-style-type: none;
  width: 120px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  flex-grow:1;
  line-height: 75%;
  height: 5vh;
}

li *{
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.mod {
  font-weight: bold;
}

#header {
  max-height: 175px;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}    


/* Form Stuff */
.group {
  font-size: 120%;
  width: 70%;
  overflow: hidden;
  position: relative;
}

label {
  position: absolute;
  top: 24;
  color: rgba(255, 255, 255, 0.5);
  cursor: text;
  transition: .25s ease;
}

input {
  background-color: #FCFEFF;
  font-size: 150%;
  font-family: 'Patua One', cursive;
  display: block;
  width: 100%;
  padding-top: 36.6666666667px;
  border: none;
  border-radius: 0;
  transition: .3s ease;
}

input:valid ~ label {
  top: 0;
  color: rgba(0, 0, 0, 0.5);
}

input:focus {
  outline: none;
}

input:focus ~ label {
  top: 0;
  color: #2196f3;
}

input:focus ~ .bar:before {
  transform: translateX(0);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
}

.bar {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  height: 3.6666666667px;
  transition: .3s ease;
  position: relative;
}

.bar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 150%;
  background: #2196f3;
  transform: translateX(-100%);
}

#chat {
  height: calc(100vh - 175px);
}

::selection {
  background: rgba(33, 150, 243, 0.3);
}
/* Media Queriez */
@media screen and (max-width : 768px){
  body {
    font-size: 18px;
  }

}

